img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
}

body {
    margin: 80px;
    margin-top: 40px;
}


.main, .p1, .p2, .p3 {
    text-decoration: underline;
    text-align: center;
}

.main{
    color: #0C457D;
}

.p3 {
    color: #e05a00;
}

.p2 {
    color: #2a623d;
}

.p1 {
    color: #752902;
}

